.category {
  padding: 0.8rem;
  background-image: linear-gradient(to bottom right, green, yellow);
  margin: 0.4rem;
  color: cyan;
  cursor: pointer;
}

#catHeading {
  margin: 0.8rem 2rem 1rem 0.5rem;
  font-size: 7vw;
}