<ion-content>
  <div class='topicList'>
<!-- <div class='topicList'>
  <div class='topic' *ngFor='let topicVal of topicsList'>
    <div class='topicHeading'>{{topicVal.topic}}</div>
    <iframe [src] = 'urlLink(topicVal.link)'></iframe>
  </div>
</div> -->
<ion-card *ngFor='let topicVal of topicsList; let i = index;' class='topicCard'>
  <ion-card-header (click)='toggleOpen(i)' class='topicHeader'>
    {{topicVal.topic}}
  </ion-card-header>
  <ion-card-content class='topicContent' *ngIf = 'topicVal.isOpen == true'>
    <iframe [src] = 'urlLink(topicVal.link)' [width] = '280'></iframe>
  </ion-card-content>
</ion-card>
</div>
</ion-content>