#topicHeading {
    font-size: 8vw;
    margin: 2rem 1rem;
}
.open-toggle{
    display: block;
}
.close-toggle {
    display:none;
}
.topicContent{
    padding-left: 0px;
    padding-right: 0px;
}
.topicList{
    margin-top: 2rem; 
}
ion-icon.backArrow {
    position: relative;
    top: 4px;
    margin-right: 0.4rem;
}