.chapter {
    padding: 0.8rem;
    background-image: linear-gradient(to bottom right, green, yellow);
    margin: 0.4rem;
    color: cyan;
    cursor: pointer;
}
.chapterList {
    padding: 0rem 3rem 3rem 2rem;
}
#chapterHeading {
    margin: 2rem;
    font-size: 8vw;
}
ion-icon.backArrow {
    position: relative;
    top: 4px;
    margin-right: 0.4rem;
}