.category {
    padding: 0.8rem;
    background-image: linear-gradient(to bottom right, green, yellow);
    margin: 0.4rem;
    color: cyan;
    cursor: pointer;
}

#catHeading {
    margin: 2rem 0;
    font-size: 8vw;
}